/* Base16 Atelier Forest Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Forest Comment */
.hljs-quote {
  color: #9c9491;
}

/* Atelier-Forest Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #FF6440;
}

/* Atelier-Forest Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #FFAD40;
}

/* Atelier-Forest Green */
.hljs-comment,
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #469400;
}

/* Atelier-Forest Blue */
.hljs-title,
.hljs-attribute,
.hljs-attr,
.hljs-section {
  color: #5FC0CE;
}

/* Atelier-Forest Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #E567B1;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1b1918;
  color: #fff;
  padding: 0.5em;
  font-size: 14px;
  tab-size: 20px;
  margin: 0 auto;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

pre{
  width: 100%;
}
body{
  background: #04040c;
}